html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    --line-under: rgb(10, 126, 194);
    --background-opaque: rgba(216, 213, 204, 0.6);
    --lime: #d9ed92;
    --green: #99d98c;
    --blue: #168aad;
    --navy: #1e6091;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
    grid-template-rows: 50px 1fr 50px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.align-center{
    align-items: center;
}

button {
    cursor: pointer;
    max-width: fit-content;
    background-color: white;
    border: none;
    padding: 5px;
}

button .icon {
    max-width: 15px;
}

/* main canvas */
main{
    grid-area: main;
    background-color: var(--lime);
}

/* sidebar */
aside{
    grid-area: sidebar;
    background-color: var(--green);
}

/* header */
header {
    padding: 10px 20px;

    background-color: var(--navy);
    grid-area: header;

    font-weight: bolder;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */
footer {
    padding: 10px 20px;
    background-color: var(--navy);
    grid-area: footer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
footer *{
    margin: 5px;
}