html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    --line-under: rgb(10, 126, 194);
    --background-opaque: rgba(216, 213, 204, 0.6);
}

#content {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

/* main canvas */
main{
    grid-area: main;
}

/* sidebar */
aside{
    grid-area: sidebar;
}

/* header */
header {
    margin-bottom: auto;

    background-color: var(--background-opaque);
    grid-area: header;
}

/* footer */
footer {
    margin-top: auto;
    background-color: var(--background-opaque);
    grid-area: footer;
} 